<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales </title>

    --nav bar begin
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" type="button">Home</button>
            <button class="btn btn-outline-success me-2" type="button">Products</button>
            <button class="btn btn-outline-success me-2" type="button">Orders</button>
            <button class="btn btn-outline-success me-2" type="button">Reports</button>
        </form>
    </nav>

</head>
<body>
--Availible Inventory
<ul class="list-group">
    <li class="list-group-item active" aria-current="true">Availible Inventory</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
</ul>

--Sale price and optional notes

<div class="mb-3">
    <label for="salePrice" class="salePrice">Sale Price</label>
    <input type="Sale Price" class="form-control" id="exampleFormControlInput1" placeholder="Sale amount goes here">
</div>
<div class="mb-3">
    <label for="notes" class="form-label">Optional notes here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

--Submit info

<div class="btn-group" role="group" aria-label="SaleButtons">
    <button type="button" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-primary">Cancel</button>
</div>

--Sale success

<div class="alert alert-success" role="alert">
    Sale Recorded!
</div>

</body>
</html>